.footer{
    background-color: black;
    grid-column: 1/-1;  
}

.nav{   
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;

    &__item{
        display: flex;
    }

    &__link:link,
    &__link:visited{
        color: $color-white;
        text-decoration: none;
        font-family: $font-primary;
        font-weight: 400;
        font-size: 1.5rem;
        padding: 1.3rem;
        transition: all .3s;
    }

    &__link:hover,
    &__link:active{
        background-color: $color-Grey-dark-1;
    }


}

.copyright{
    color: $color-white;
    color: $color-white;
    font-family: $font-primary;
    font-size: 1.2rem;
}